.root {
    -fx-bg-color:       #13121a;
    -fx-card-bg:        #3a3547;
    -fx-primary:        #f2e22d; /* Amarelo */
    -fx-primary-hover:  #6b6114;
    -fx-text-main:      #ffffff;
    -fx-text-dark:      #13121a;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: -fx-bg-color;
}

/* --- MENU LATERAL --- */
.sidebar { -fx-background-color: -fx-card-bg; }
.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #84848b;
    -fx-alignment: CENTER-LEFT;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.sidebar-button:hover {
    -fx-text-fill: -fx-primary;
    -fx-border-color: transparent transparent transparent -fx-primary;
    -fx-border-width: 0 0 0 4;
}

/* --- CARTÕES E TÍTULOS --- */
.card {
    -fx-background-color: -fx-card-bg;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-padding: 20;
}
.titulo { -fx-text-fill: -fx-primary; -fx-font-size: 24px; -fx-font-weight: bold; }
.label { -fx-text-fill: -fx-text-main; }

/* --- BOTÕES --- */
.btn-acao {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-text-dark;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.btn-acao:hover { -fx-background-color: -fx-primary-hover; -fx-text-fill: white; }

.btn-perigo {
    -fx-background-color: transparent;
    -fx-text-fill: #E74C3C;
    -fx-border-color: #E74C3C;
    -fx-border-radius: 5;
}
.btn-perigo:hover { -fx-background-color: #E74C3C; -fx-text-fill: white; }

/* --- TABELA --- */
.table-view { -fx-background-color: transparent; }
.table-view .column-header-background { -fx-background-color: -fx-card-bg; }
.table-view .column-header .label { -fx-text-fill: -fx-primary; -fx-font-weight: bold; }
.table-row-cell { -fx-background-color: -fx-card-bg; -fx-border-color: transparent transparent #4c4c3b transparent; }
.table-row-cell:selected { -fx-background-color: #4c4c3b; }
.table-cell { -fx-text-fill: white; }

/* --- CAMPOS DE TEXTO --- */
.text-field {
    -fx-background-color: #262430;
    -fx-text-fill: white;
    -fx-border-color: #5d566d;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}